{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link href="{% static 'bugs/style.css'%}" rel="stylesheet">

	<title>SquashBug!!</title>
</head>
<body>
	<header class="site-header background">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="{% url 'home-bugs' 'v'%}"><h2>Squash <i class="fa fa-solid fa-bug"></i></h2></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto" id="navigation-bar">
						<a class="nav-item nav-link" href="{% url 'index'%}"><i class="fa fa-home"></i><span> Home </span></a>

					</div>
					<!-- Navbar Right Side -->
					<div class="navbar-nav" id="navigation-bar">

						{% if user.is_authenticated %}
						<a class="nav-item nav-link" href="{% url 'home-bugs' 'v'%}"><i class="fas fa-list-ul"></i><span> Dashboard </span></a>
						<a class="nav-item nav-link" href="{% url 'new-bug'%}"><i class="fas fa-plus "></i><span> New Ticket</span></a>

						<a class="nav-item nav-link" href="{% url 'profile'%}"><i class="far fa-user"></i></i><span> Profile</span></a>
						<a class="nav-item nav-link" href="{% url 'logout'%}"><i class="fas fa-sign-in-alt"></i><span> Logout</span></a>
						{% else %}
						<a class="nav-item nav-link" href="{% url 'login'%}"><i class="fas fa-sign-in-alt"></i><span> Login</span></a>
						<a class="nav-item nav-link" href="{% url 'register'%}"><i class="far fa-user"></i><span> Register</span></a>
						
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>




<div class="background">
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>
   <span id="b"></span>

</div>

		<main role="main" class="container">
			<div class="row">

				{% if messages%}
				{% for mesage in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% block f %}{% endblock %}
				{% block content %}{% endblock %}
			</div>


		</main>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    	$(function() {
        AOS.init({
        	duration:500,
        });
        });

    </script>  
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>