
{% extends "bugs/base.html"%}
{% load crispy_forms_tags %}

{% load static %}



{% block content%}


  {% if request.user.is_authenticated %}



  {{ rb|json_script:"redBugs" }}
  {{ yb|json_script:"yellowBugs" }}
  {{ gb|json_script:"greenBugs" }}
  {{ cb|json_script:"completedBugs" }}
  {{ ob|json_script:"uncompleteBugs" }}
  {{ ub|json_script:"totalBugs" }}


  <div class="col-md-6" style="padding-left: 10px;padding-right: 10px;">
        <div class="content-section" style="width: col-md-6">
        <h1>Bugs:</h1>
          <hr>

        {% for bug in bugs %}
            
            

                  <div>
                    <div class="content-section ff" >

                      {% if bug.severity == 'red' %}
    
                      <p style="font-size: 22px; "><span style="color: #cf2608;"> {{bug.title}} </span> - {{bug.date}}</p>
                      {% endif %}
                      {% if bug.severity == 'yellow' %}
                      <p style="font-size: 22px;"><span style="color: #b7ba04;"> {{bug.title}} </span> - {{bug.date}}</p>
    
                          
                      {% endif %}
                      {% if bug.severity == 'green' %}
                      <p style="font-size: 22px;"><span style="color: #24a607;">{{bug.title}} </span> - {{bug.date}}</p>
    
                      {% endif %}
                  
                      <button style="position: relative; " id="edit-bug" class="btn btn-outline-info" onclick="location.href='{% url 'edit-bug' bug.pk%}';">Edit</button>
                      <button style="position: relative; " id="complete-bug" class="btn btn-outline-info" onclick="location.href='{% url 'complete-bug' bug.pk%}'">Complete</button>
                      <button style="position: relative; " id="delete-bug" class="btn btn-outline-info" onclick="location.href='{% url 'del-bug' bug.pk%}';">Delete</button>


                      </form>
                  </div>  

              </div
            </div>
        {% empty %}
            <h1>You have no Bugs!</h1>
            <button style="position: relative; " id="edit-bug" class="btn btn-outline-info" onclick="location.href = '{% url 'new-bug'%}';"  >Create a new Bug</button>


        {% endfor %}
    
          <center>

            <p>
...
            </p>
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
          {% endif %}
          </center>
        </div>
      </div>
      
        <div class="col-md-6 " style="padding-left: 10px;padding-right: 10px; overflow:hidden;">
          <div class="content-section" style="overflow:hidden;">
            <h2>Bug Distribution: </h2s>
            <hr>


            <div style="height: 40%; width: 50%; float:left">
              <canvas id="myChart"></canvas>

           </div>
           <div style="margin-top: 15%;height: 40%; width: 50%; float:right; margin-bottom: 115px;">
            <canvas id="myChart2"></canvas>
           </div>


          


            
          </div>

            <div class="content-section" style="margin-top: 20px;">
              <h2>Bug Stats:</h2>
              <hr>
                <ul class="list-group">

                  <li class="list-group-item list-group-item-light"><span style="color: #cf2608;"> Red Bugs: {{rb}} </span></li>
                  <li class="list-group-item list-group-item-light"><span style="color: #b7ba04;"> Yellow Bugs: {{yb}} </span></li>
                  <li class="list-group-item list-group-item-light"><span style="color: #24a607;">Green Bugs: {{gb}} </span></li>

                  <li class="list-group-item list-group-item-light">Completed Bugs {{cb}}</li>
                  <li class="list-group-item list-group-item-light">Uncomplete Bugs {{ob}}</li>
                  <li class="list-group-item list-group-item-light">Total Bugs {{ub}}</li>


                </ul>
              </p>
            </div>
          </div>
          <!---
          site prediction stats.....
          <div class="col-md-13">
            <div class="content-section">
              <h3>Site Prediction Stats:</h3>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Correct Completed Predictions: a stat</li>
                  <li class="list-group-item list-group-item-light">Completed Predictions: ooferino</li>
                  <li class="list-group-item list-group-item-light">Percent Correct: ergsherg %</li>
                  <li class="list-group-item list-group-item-light">Prediction Gain: derp</li>
                  <li class="list-group-item list-group-item-light">Prediction Loss: adsf</li>
                  <li class="list-group-item list-group-item-light">Prediction Gain-Loss: fdsa</li>
                </ul>
              </p>
            </div>
            --->

          </div>
        </div>
    {% endif %}
  </body>
</div>
<script  src="{% static 'bugs/myChart.js'%}"></script>

{% endblock content %}