
{% extends "bugs/base.html"%}
{% load crispy_forms_tags %}

{% block content%}
    <div class="content-section"style="
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    ">
    <center>
        <h1 style="color: white">Bug Tracker!!</h1>
    </center>
    
        <p style="font-size: 22px;">
            This project is meant to help you destroy bugs with maximum effectiveness. Track Bugs from there First sightings, to there inevitable demise, then store them incase you find a similar bug in the future.

        </p>
    </div>  
{% endblock content %}