
{% extends "bugs/base.html"%}
{% load crispy_forms_tags %}

{% block content%}



<div style="margin-top: 20%;z-index: 100;">

<center>
    <p style=";font-size: 56px;color: white;text-decoration: underline;margin-bottom: 2px">SquashBug!</p>
    <p style="font-size: 26px;color: white;margin-bottom: 2px;">A ticket system to track, collaborate, </p>

    <p style="font-size: 26px;color: white;margin-bottom: 2px;">and destroy bugs.</p>
    <br>
    <p style="color: white"><a style="position: relative;"  href="{% url 'login'%}"class="btn btn-outline-info">Login <i class="fas fa-sign-in-alt"></i></a>
    <a style="position: relative;"  href='https://github.com/nealmick/SquashBug'class="btn btn-outline-secondary">GitHub <i class="fab fa-github"></i></a></p>
</center>
</div>







{% endblock content %}