{% extends "bugs/base.html"%}
{% load crispy_forms_tags %}

{% block content%}
<div class="col-md-9"style="
margin-right: auto;
margin-left: auto;
">
      <div class="content-section">
        <div class="fff">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">New Bug:</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
      
  </div>

{% endblock content %}