{% extends "bugs/base.html"%}
{% load crispy_forms_tags %}

{% block content%}
<div class="col-md-9"style="
margin-right: auto;
margin-left: auto;
">
      <div class="content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                  <p style="opacity: 1;font-size: 42px;color: white;text-decoration: underline;margin-bottom: 2px">New Ticket</p>
              {{ form|crispy }}

            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Create Bug!</button>
            </div>
          </form>
      </div>
    </div>
      
  </div>

{% endblock content %}