
body {
    background: #383838;
    color: #333333;
    margin-top: 6rem;
  }


.site-header .navbar-nav .nav-link {
    color: #ffffff;


}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;

}

.site-header .navbar-nav .nav-link.active {
    font-weight: 750;

}

.bg-steel {
    background-color: #333333;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .4);
}

.content-section {
    background: #333333;
    padding: 10px 20px;
    padding-left: -10px;
    
    border: 2px solid #737373;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .8);
  
  }

.content-section2 {
    background: #333333;
    padding: 10px 20px;
    border: 2px solid #737373;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .8);
    transition: 0.3s;

}

.content-section2:hover {
    background: #333333;
    padding: 10px 20px;
    border: px solid #737373;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, .8);
    transition: 0.3s;

}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.list-group-item-light {
  background-color: #404040;
  border-radius: 3px;
  border-radius: 7px;
  border: 2px solid #737373;
  margin-bottom: 5px;
  color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

.ff{
  transition: all 0.4s ease-in-out;
  border-color: #737373;
  border-radius: 7px;
  background-color: #404040;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 7px;
  color: white;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, .2);
  transition: 0.3s;
}
.ff:hover{
  transition: all 0.4s ease-in-out;
  background: #333333;
  padding: 7px;
  border-color: #737373;
  border-radius: 3px;
  color: white;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, .5);
  transition: 0.3s;
}

.site-header .navbar-nav .nav-link {
  color: #333333;


}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;

}

.site-header .navbar-nav .nav-link.active {
  font-weight: 750;

}


#menu-nav {
  top:0;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  position: relative;


  background-color: #737373;

}

#navigation-bar ul {
  padding-inline-start: 0px;
  position: relative;
  left: 0;
  right: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar2 ul {
  padding-inline-start: 0px;
  position: relative;
  left: 0;
  right: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 12.5%;

}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 12.5px 12.5px;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #737373;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #737373;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
#id_description{
  width: 90%;
  height: 400px;
}


#id_title{
  width: 40%;
}


input, textarea {
  color: white;
  outline: none;
  background-color: #404040;
  padding: 10px 10px;
  border: 2px solid #737373;
  border-radius: 7px;
  height: 50px;
}
select {
  padding: 10px 10px;
  margin: 5px;
  background: #404040;
  border: 2px solid #737373;
  border-radius: 7px;
  color: #fff;
  width: 100px;
  height: 50px;
}

.btn{
  color: white;
  background: #404040;
  border: 2px solid #737373;
}
.btn:hover:active{
  color: white;
  background: #404040;
  border: 2px solid white;
}
.btn:active{
  color: white;
  background: #404040;
  border: 2px solid white;
}
.btn-outline-info :active{
  color: white;
  background: #404040;
  border: 2px solid #737373;
  background-color: white;
  border-color: whites;
}
.btn-outline-info:hover {
  color: #fff;
  background: #404040;
  border: 2px solid white;
}
.btn-outline-info:active {
  color: #fff;
  background: #404040;
  border: 2px solid white;
}

.btn-info:hover {
  color: #fff;
  background: #404040;
  border: 2px solid white;
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle{
  color: #fff;
  background: #404040;
  border: 2px solid white;
}
.btn-outline-info.focus, .btn-outline-info:focus{
  color: #fff;
  background: #404040;
  border: 2px solid white;
  box-shadow: 0 0 0 0.2rem #404040;

}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle{
  color: #fff;
  background: #404040;
  border: 2px solid white;
  box-shadow: 0 0 0 0.2rem #404040;

}
#complete-bug{
  color: #fff;
  background: #404040;
  border: 2px solid #196109;
}
#complete-bug:hover{
  color: #196109;
  background: #404040;
}

#delete-bug{
  color: #fff;
  background: #404040;
  border: 2px solid #8c210e;
}
#delete-bug:hover{
  color: #8c210e;
  background: #404040;
}

#edit-bug{
  color: #fff;
  background: #404040;
  border: 2px solid #737373;
}
#edit-bug:hover{
  background: #404040;
  border: 2px solid #fff;
}